.justify {
    text-align: justify;
}

.centered {
    text-align: center;
}

.info {
    text-align: center;
    font-size: 75px;
}

hr {
  border: 2;
  width: 70%;
}

.imgProfile {
    display: block;
    margin: auto;
    border-radius: 50%;
}

/* From Bulma.io */
.has-text-white {
  color: white !important;
}

a.has-text-white:hover, a.has-text-white:focus {
  color: #e6e6e6 !important;
}
