

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.imgProfile {
    display: block;
    margin: auto;
    border-radius: 50%;
}

.darkCard {
  color: white;
  background-color: rgb(64, 64, 64);
}
